*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

li, a, button{
    font-family: fantasy;
}

header{
    background-color: black; 
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    align-items: center;
}

.nav_links {
    list-style:none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    color: rgba(0,136,169,1);
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.nav_links li a:hover{
    color: blueviolet;
    transition: all 0.3s ease 0s;
}

button {
    background-color: rgba(0,136,169,1);
    padding: 0px 25px;
    border: none;
    border-radius: 30px;
}